/*DOM*/
html, body {
   -webkit-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none;
   user-select: none; 
   padding: 0;
   margin: 0;
   font-family: orbitron, san-sarif;
   font-weight: 900;
   font-size: 15px;
   letter-spacing: 2.5px;

}
body {
	background:black;
	color:white;
}
button {
	border: none;
	background-color: transparent;
}
section {
	display: grid;
    height:fit-content;
	margin:0;
}
h1 {
	display: initial;
	margin:0 10px -4px 10px; 
	width: 98vw;
	padding: 0 0;
	color:rgba(111,111,111,1);
	text-shadow: 1px 2px 1px black ;
}
h4 {

    display: table-cell;
    width:inherit;
    line-height:40px;
    margin:0;
    padding:0;
}
 label {
    color: black;
	display: inherit;
	font-size:10px;
}
section {
	border-width:0;
}
/*CLASS*/
.dvContain {
    background-color: slategrey;
	width:-webkit-fill-available;
	display: flow-root;
}

.buttons {
	color: rgba(255,255,255,0.5);  
	text-shadow: 0 0 0 rgba(125,130,135,0.8), .5px 1px .5px black, 0 0 0 rgba(125,130,135,0.8), .5px 1px .5px black;
	display: inline-block;
	font-size: 12pt;
	line-height: 30px;
	width: 30px;
	font-weight: 500px;
	cursor: pointer;
	margin: 0 3px;
}
.buttons:active {
	color: rgba(0,0,0,0.5);
	text-shadow: 0 0 0 black, .5px 1px .5px transparent;
}
.buttons_full {
	color: rgba(255,255,255,0.5);  
	text-shadow: 0 0 0 black, .5px 1px .5px transparent, 0 0 0 black, .5px 1px .5px transparent;
	display: inline-block;
	font-size: 12pt;
	line-height: 30px;
	width: 30px;
	font-weight: 500px;
	cursor: pointer;
	margin: 0 3px;
}
.buttons_full:active {
	color: rgba(0,0,0,0.5);  
	text-shadow: 0 0 0 black, .5px 1px .5px transparent;
}

.btnFrameL {
	padding:2px 0;
	margin: 2px;
	display: inline;
    float: left;
}
.btnFrameR {
	padding:2px 0;
	margin: 2px 0;
	display: inline;
    float: right;
}
.sDiv {
   width: inherit;
   height:86vh;
   margin:.4vh 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 1280px 900px;
   padding: 0 0 ;
   overflow: hidden;
}
.sDiv button {
	color: rgba(255,255,255,1);  
	text-shadow: 0 0 0 black, .5px 1px .5px transparent, 0 0 0 black, .5px 1px .5px transparent;
	display: -webkit-box;
	line-height: 30px;
	width: 30px;
	text-align: center;
	cursor: pointer;
    padding: 0;
}

.sDiv button:disabled {
	color: rgba(150,150,150,0.5);
	text-shadow: 0 0 0 rgba(125,130,135,0.0), .5px 1px .5px transparent;
	display: inline-block;
	line-height: 30px;
	width: 30px;
	cursor: default;
	margin: 0 3px;
}

.item_holder {
	transition: 300ms margin;
	transition-delay: 200ms;
	background-color: rgba(10,10,10,0);
	width:-webkit-fill-available;
	height: 76vh;
	padding: 0;
	margin:100vh 5vw 0 5vw;
}
.item_holder_full {
	transition: 300ms margin;
	transition-delay: 200ms;
	background-color: rgba(210,10,10,0);
	width:-webkit-fill-available;
	height: 76vh;
	padding: 0;
	margin:10px 5vw 0 5vw;
}
.items {
	background-color:rgba(5, 5, 5, 0.7);
	display: table-cell;
    width:384px;
    height: inherit;
	padding: 2px 0;
}
.items h4 {
	min-width:384px;
    max-width:384px;
	display: inherit;

}
.settingsPanel {
	transition: 200ms all;
	position:fixed;
	right:-255px;
	width:250px;
    height:-webkit-fill-available;
	top:45px;
}
.settingsPanel_full {
	transition: 200ms all;
	position:fixed;
	right:10px;
	width:250px;
    height:-webkit-fill-available;
	top:45px;
}
.newTankForm {
	transition: 600ms all;
	display: grid;
	opacity: 0;
	width:inherit;
	padding:5px 0;
}
.newTankForm_full {
	transition: 600ms all;
	display: grid;
	opacity: 1;
	width:inherit;
	padding:5px 0;
}
.tankFormItems {
	display: initial;
    width:90%;
    margin:8px 0;
}
/*ID*/
#loboGame {
    height: fit-content;
    width:fit-content;

}
#inR1, #inR2, #inR3 {
	display: inherit;
	width: -webkit-fill-available;
	margin:0 15px;
}
#dvAudContain {
    background-color: slategrey;
	display: -webkit-inline-box;
	padding: 20px 0;
	margin:4px 0;
}
#tankContainer {
    display: table-cell;
    height: inherit;
    width: inherit;
    margin: 0;
}
/*MULTI*/
.buttons, button  {

	cursor: pointer;
}
.buttons, button, input, select, option  {
	outline-style: none;

}
.buttons, .buttons_full, section, h1{
	transition: 60ms all;
}
 .sDiv{
	margin:5px 0;
}
section, .sDiv, h4, #dvAudContain, .newTankForm_full, .newTankForm {
	box-shadow: 0 0 0.5px inset black, 0 0 0.5px black, 0 0 0.5px inset black, 0 0 0.5px black;
}
h4, .newTankForm_full, .newTankForm, #loboGame  {
	background-color:rgba(148,152,158,1);
}
section {
	background-color:rgba(0,0,0,0.5);
}
.sDiv, .settingsPanel_full, .settingsPanel, button, .buttons, .buttons_full {
	text-align: -webkit-center;
	padding: 0 1px;
}
section, input[type="text"] {
	text-indent: 5px;
}
section, h4 {
	text-shadow: .5px 1px .5px black, .5px 1px .5px black, .5px 1px .5px black;
}
/*KEYFRAMES*/