/*DOM*/
html, body {
   -webkit-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none;
   user-select: none; 
   padding: 0;
   margin: 0;
   font-family: orbitron, san-sarif;
   font-weight: 900;
   font-size: 18px;
   letter-spacing: 2.5px;

}
body {
	background:black;
	color:white;
}
button {
border: none;
}
section {
	display: grid;
    height:fit-content;
margin:0;

    
}
h1 {
display: initial;
margin:-5px 1vw;

width: 98vw;
padding: 0 0;
color:rgba(111,111,111,1);
text-shadow: 1px 2px 1px black ;
}
h4 {
	background-color: darkgrey;
    display: table-cell;
    width:inherit;
    line-height:40px;
    margin:0;
    padding:0;

}
 label {
color: black;
	display: inherit;
	font-size:10px;
}

/*CLASS*/
.dvContain {
    background-color: slategrey;
	min-width:420px;
	display: flow-root;
}

.buttons {
	color: rgba(255,255,255,0.5);  
	text-shadow: 0 0 0 rgba(125,130,135,0.8), .5px 1px .5px black, 0 0 0 rgba(125,130,135,0.8), .5px 1px .5px black;
    box-shadow: 0 0 .5px black, 0 0 .5px black, 0 0 .5px black;
	display: inline-block;
	font-size: 18pt;
	line-height: 30px;
	width: 30px;
	background-color:rgba(0, 0, 0, .5); 
	text-align: center;
	font-weight: 500px;
	cursor: pointer;
	margin: 0 3px;
}
.buttons:active {
	color: rgba(0,0,0,0.5);  
    box-shadow: 0 0 .5px rgba(111, 111, 11, .8), 0 0 .5px rgba(111, 111, 11, .8), 0 0 .8px black;
	text-shadow: 0 0 0 black, .5px 1px .5px transparent;
	background-image: radial-gradient(rgba(253,253,253, 1), rgba(253,253,253, 0.5), rgba(253,253,253, 0.2));
}

.buttons_full {
	color: rgba(255,255,255,0.4);  
	text-shadow: 0 0 0 black, .5px 1px .5px transparent, 0 0 0 black, .5px 1px .5px transparent;
    box-shadow: 0 0 .5px rgba(111, 111, 11, .8), 0 0 .5px rgba(111, 111, 11, .8), 0 0 .8px black;
	display: inline-block;
	font-size: 18pt;
	line-height: 30px;
	width: 30px;
	background-color:rgba(0, 0, 0, .5);
	background-image: radial-gradient(rgba(253,253,253, 1), rgba(253,253,253, 0.5), rgba(253,253,253, 0.2));
	text-align: center;
	font-weight: 500px;
	cursor: pointer;
	margin: 0 3px;
}
.buttons_full:active {
	color: rgba(0,0,0,0.4);  
	box-shadow: 0 0 .5px rgba(111, 111, 111, .5),  0 0 .5px rgba(111, 111, 111, .5),  0 0 .5px black;
	background-image: radial-gradient(rgba(253,253,253, 1), rgba(253,253,253, 0.5), rgba(253,253,253, 0.2));
	text-shadow: 0 0 0 black, .5px 1px .5px transparent;
}

.btnFrameL {
	padding:2px 0;
	margin: 2px;
	display: inline;
    text-align: center;
    float: left;
}
.btnFrameR {
	padding:2px 0;
	margin: 2px;
	display: inline;
    float: right;
}
.sDiv {
   height:86vh;
   margin:.4vh 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 1280px 86vh;
   padding: 0 0 ;
}
.sDiv button {
	color: rgba(255,255,255,0.4);  
	text-shadow: 0 0 0 black, .5px 1px .5px transparent, 0 0 0 black, .5px 1px .5px transparent;
    box-shadow: 0 0 .5px rgba(111, 111, 11, .8), 0 0 .5px rgba(111, 111, 11, .8), 0 0 .8px black;
	display: -webkit-box;
	line-height: 30px;
	width: 30px;
	background-color:rgba(0, 0, 0, .5);
	background-image: radial-gradient(rgba(253,253,253, 1), rgba(253,253,253, 0.5), rgba(253,253,253, 0.2));
	text-align: center;
	cursor: pointer;
    padding: 0;

}
.sDiv button:active {
	color: rgba(0,0,0,0.4);  
	box-shadow: 0 0 .5px rgba(111, 111, 111, .5),  0 0 .5px rgba(111, 111, 111, .5),  0 0 .5px black;
	background-image: radial-gradient(rgba(253,253,253, 1), rgba(253,253,253, 0.5), rgba(253,253,253, 0.2));
	text-shadow: 0 0 0 black, .5px 1px .5px transparent;
}
.sDiv button:disabled {
	color: rgba(255,255,255,0.5);  
	text-shadow: 0 0 0 rgba(125,130,135,0.0), .5px 1px .5px transparent;
    box-shadow: 0 0 .5px transparent, 0 0 .5px transparent, 0 0 .5px transparent;
	display: inline-block;
	line-height: 30px;
	width: 30px;
	background-color:rgba(220, 220, 220, .2); 
	text-align: center;
	cursor: pointer;
	margin: 0 3px;
}

.item_holder {
	transition: 200ms all;
	transition-delay: 100ms;
	background-color: rgba(10,10,10,.7);
	width:80vw;
	height: 70vh;
	padding: 0;
	margin:100vh 10vw 0vh 10vw;
	
}
.item_holder_full {
	transition: 200ms all;
	transition-delay: 100ms;
	background-color: rgba(10,10,10,.2);
	width:80vw;
	height: 70vh;
	padding: 0;
	margin:4vh 10vw 4vh 10vw;
	
}
.items {
	background-color:rgba(5, 5, 5, 0.7);
    box-shadow: 0 0 1px white inset;
	display: table-cell;
    width:inherit;
    height: inherit;
	padding: 0 ;
}
.settingsPanel {
	transition: 200ms all;
	position:fixed;
	right:-250px;

	width:250px;
    height:-webkit-fill-available;
    text-align: center;
	top:50px;

}
.settingsPanel_full {
	transition: 200ms all;
	position:fixed;
	right:10px;

	width:250px;
    height:-webkit-fill-available;
    text-align: center;
	top:50px;
}
/*ID*/
#loboGame {
    height: fit-content;
    min-width:420px;
    overflow: hidden;
}
#inR1, #inR2, #inR3 {
	display: inherit;
	width: -webkit-fill-available;
	margin:0 15px;

}
#dvAudContain {
    background-color: slategrey;
	display: -webkit-inline-box;
	padding: 20px 0;
	margin:2px 0;
}
/*MULTI*/
.buttons, button {
	outline-style: none;
	cursor: pointer;
}

.buttons, .buttons_full, section, h1{
	transition: 60ms all;
}
 .sDiv{
	margin:5px 0;

}
section, .sDiv, .sDiv button, h4, #dvAudContain {
	box-shadow: 0 0 1px inset black, 0 0 1px inset black,0 0 1px inset black;
}

#loboGame {
	background-color:slategrey;
}
section {
	background-color:rgba(0,0,0,0.5);

}
.sDiv {
	text-align: center;
}
section, h4 {
	text-shadow: .5px 1px .5px black, .5px 1px .5px black, .5px 1px .5px black;
}
/*KEYFRAMES*/